* {
  box-sizing: border-box;
  width: 100%;
}

.login-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #eaf4ff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 120, 255, 0.15);
  text-align: center;
}

.title {
  color: #1e88e5;
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #cce0ff;
  outline: none;
  background-color: whitesmoke;
  color: black;
}

.input:focus {
  border-color: #1e88e5;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #1e88e5;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  background: #1565c0;
}

.footer-text {
  margin-top: 15px;
  font-size: 13px;
  color: #555;
}

.footer-text span {
  color: #1e88e5;
  cursor: pointer;
  font-weight: 500;
}
